* {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

html,
body {
  /* height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; */
}

body {
  background-image: url(../imgs/bgimg.jpg);
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between !important;
}

.offcanvas {
  z-index: 2000 !important;
}


.logoName {
  display: inline-block;
}

.div1 {
  height: 80px;
  width: 800px;
  margin: 80px auto;
  background-color: rgb(35, 35, 42);
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

/* =======================Home Page=========================*/
.homeDiv {
  width: 80%;
  height: auto;
  margin: 180px auto;
  padding: 20px;
}

.homeh2 {
  font-size: 50px;
  color: rgb(192, 197, 201);
}

.homeh4 {
  color: rgb(142, 142, 142);
  margin-left: 20px;
}

.homeP {
  color: rgb(142, 142, 142);
  margin-left: 20px;
}

/* ==================About Us==================== */
.aboutUs {
  width: 80%;
  height: auto;
  /* background-color: #656565; */
  color: aliceblue;
  margin: 250px auto;
  padding: 50px;
  border-radius: 30px;
}

/* =================Search for city================ */

#cityInput {
  width: 60%;
  height: 70%;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

#searchBtn {
  width: 68px;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
  color: rgb(35, 35, 42);
  font-weight: bold;
  margin-right: 50px;
  border: 2px solid rgb(0, 0, 0);
}

#searchBtn:hover,
#searchBtn:active {
  background-color: rgb(100, 100, 100);
  color: white;
  border: 1px solid rgb(100, 100, 100);
}

#reasultDiv {
  width: 50%;
  height: auto;
  background-color: rgba(223, 223, 238, 0.5);
  margin: 30px auto;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  display: none;
}

/* =================Display Capitals================ */

#displayCapitals {
  width: 80%;
  height: 50%;
  background-color: rgb(35, 35, 42);
  margin: 200px auto;
  border-radius: 20px;
  padding: 10px;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 10px auto;
  object-fit: contain;
}

.cards {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
  align-items: center;
  scroll-behavior: smooth;
}

.card {
  width: 200px;
  flex: 0 0 auto;
  height: auto;
  text-align: center;
  background-color: #656565 !important;
  color: aliceblue !important;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.d-h2 {
  font-size: 25px;
  color: rgb(206, 206, 206);
  margin-left: 7px;
  margin-top: 5px;
}

/* //////////////////////////////////////// */

.weather-icon {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

/* ===================Responsive======================== */

@media (max-width: 768px) {
  body {
    background-image: url(../imgs/bgimgEdited.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: repeat-y;
  }

  .navbar {
    width: 100% !important;
  }

  #cityInput {
    width: 60%;
    height: 70%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
  }

  .div1{
    width: 100%;
  }
}

/* للتابلت */
@media (min-width: 769px) and (max-width: 1199px) {
   body {
    background-image: url(../imgs/bgimgEdited.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: repeat-y;
  }
}
